.col-idcard {
  position: relative;
  width: 400px;
  height: 200px;
} 

.col-idcard {
  position: relative;
  width: 400px;
  height: 220px;
} 

.card_img_mw {
  position: relative;
  width: 400px;
  height: 220px;
} 

/*
.col-idcard {
  -ms-flex: 0 0 25%;
  flex: 0 0 25%;
  max-width: 25%;
}*/
